execlog
eps
*/obj
.version
ABOUT-NLS
GNUmakefile
Makefile.am
Makefile.in
TODO
aclocal.m4
bootstrap
bootstrap.conf
build-aux/
cfg.mk
config.status
configure
configure.ac
dist-check.mk
doc/
init.cfg
m4/
maint.mk
thanks-gen
*.i
